<div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <strong>
            <h2 class="navbar-brand" href="/">WORLD BREAKING NEWS</h2>
            </strong>
        </div>
        <!-- <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Sports</a>
                </li>
                <li>
                    <a href="/">Business</a>
                </li>
        </div> -->

    </div>
</div>